AI_PROVIDER=openai_compatible
AI_BASE_URL=
AI_MODEL=
AI_API_KEY=

AI_TEMPERATURE=0.2
AI_MAX_OUTPUT_TOKENS=8192
AI_CONTEXT_WINDOW_TOKENS=65536
AI_COMPACT_TRIGGER_TOKENS=18000
AI_COMPACT_RECENT_MODEL_TURNS=4
AI_COMPACT_MAX_OUTPUT_TOKENS=4096

HEAR_OPERATOR_PASSWORD=
HEAR_HOST=127.0.0.1
HEAR_PORT=8765
HEAR_RUNS_DIR=./runs
